PORT=4000
# DATABASE_URL=postgresql://postgres:Mantu_130695@db.iujrvbwjkohmbfonvpkk.supabase.co:5432/postgres
JWT_SECRET=hex-territory-secret-2024-xyz789abc
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres.iujrvbwjkohmbfonvpkk:Mantu_130695@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres